<% const { userAuthenticated, name, username, profilePhoto } =
locals.sessionUser || {}; const compressedProfilePhotoURL =
profilePhoto?.replace('upload/', 'upload/w_40,h_40,c_auto,q_auto/f_auto/'); %>
<script src="/js/navbar.js" defer></script>
<script src="/js/script.js" defer></script>

<header class="top-app-bar" data-top-app-bar>
  <% if (locals.route === '/createblog') { %>
  <button
    class="icon-btn filled-tonal"
    aria-label="Önceki sayfaya git"
    data-back-btn
  >
    <span class="material-symbols-rounded" aria-hidden="true"
      >chevron_left</span
    >
    <div class="state-layer"></div>
  </button>
  <% } %>

  <a href="/" class="logo">
    <img
      src="/images/logo-light.svg"
      width="98"
      height="24"
      alt="Emmi"
      class="light"
    />
    <img
      src="/images/logo-dark.svg"
      width="98"
      height="24"
      alt="Emmi"
      class="dark"
    />
  </a>

  <link
    href="https://fonts.googleapis.com/icon?family=Material+Icons+Round"
    rel="stylesheet"
  />
  <div class="search-box">
    <span class="material-icons-round search-icon">search</span>
    <input
      type="text"
      id="search-input"
      placeholder="Arama"
      onkeypress="handleSearch(event)"
    />
  </div>

  <!-- Arama Sonuçları Bölümü -->
  <ul id="results-list" class="results-list"></ul>

  <script>
    async function handleSearch(event) {
      if (event.key === "Enter") {
        const query = event.target.value;
        try {
          const response = await fetch(`/api/search?q=${query}`);
          const results = await response.json();
          const resultsList = document.getElementById("results-list");
          resultsList.innerHTML = "";

          results.forEach((post) => {
            const listItem = document.createElement("li");
            listItem.innerHTML = `<h3>${post.title}</h3><p>${post.content}</p>`;
            resultsList.appendChild(listItem);
          });
        } catch (error) {
          console.error("Arama hatası:", error);
        }
      }
    }
  </script>

  <link
    href="https://fonts.googleapis.com/icon?family=Material+Icons+Round"
    rel="stylesheet"
  />
  <div class="nav-bar">
    <!-- Anasayfa -->
    <a href="/" class="nav-item">
      <span class="material-symbols-rounded">home</span> Anasayfa
    </a>

    <!-- Kategoriler -->
    <div class="nav-item categories">
      <button
        class="categories-btn"
        aria-label="Kategoriler"
        id="categories-toggle"
      >
        <span class="material-symbols-rounded">category</span> Kategoriler
      </button>
      <div class="categories-menu" id="categories-menu">
        <a href="/siber-guvenlik" class="category-link">
          <span class="material-symbols-rounded">security</span> Siber güvenlik
        </a>
        <a href="/yapay-zeka" class="category-link">
          <span class="material-symbols-rounded">psychology</span> Yapay zeka
        </a>
        <a href="/blockchain" class="category-link">
          <span class="material-symbols-rounded">currency_bitcoin</span>
          Blockchain
        </a>
        <a href="/oyun" class="category-link">
          <span class="material-symbols-rounded">sports_esports</span> Oyunlar
        </a>
        <a href="/sosyal-medya" class="category-link">
          <span class="material-symbols-rounded">share</span> Sosyal medya
        </a>
        <a href="/web-siteleri" class="category-link">
          <span class="material-symbols-rounded">language</span> Web
        </a>
      </div>
    </div>

    <!-- İletişim -->
    <a href="/contact" class="nav-item">
      <span class="material-symbols-rounded">mail</span> İletişim
    </a>
  </div>

  <div class="trailing-action-wrapper">
    <% if (userAuthenticated) { %> <% if (locals.route !== '/createblog') { %>
    <a href="/createblog" class="btn btn-fill">
      <span class="material-symbols-rounded leading-icon">edit</span>
      <p class="label-large">Yaz</p>
      <div class="state-layer"></div>
    </a>
    <% } %>

    <div class="menu-wrapper" data-menu-wrapper>
      <button class="icon-btn" data-menu-toggler>
        <div class="avatar">
          <% if (compressedProfilePhotoURL) { %>
          <img
            src="<%= compressedProfilePhotoURL %>"
            width="40"
            height="40"
            alt="<%= name %>"
            class="img-cover"
          />
          <% } else { %>
          <p class="title-medium"><%= name.charAt(0) %></p>
          <% } %>
        </div>
        <div class="state-layer"></div>
      </button>

      <div class="menu" data-menu>
        <div class="list-item small">
          <div class="avatar">
            <% if (compressedProfilePhotoURL) { %>
            <img
              src="<%= compressedProfilePhotoURL %>"
              width="40"
              height="40"
              alt="<%= name %>"
              class="img-cover"
            />
            <% } else { %>
            <p class="title-medium"><%= name.charAt(0) %></p>
            <% } %>
          </div>
          <div>
            <p class="label-small text-primary truncate-oneline">
              <%= username %>
            </p>
            <p class="body-large text-on-surface"><%= name %></p>
          </div>
          <div class="state-layer"></div>
          <a
            href="/profile/<%= username %>"
            title="<%= name %>"
            class="list-item-link"
          ></a>
        </div>

        <div class="divider"></div>

        <a href="/dashboard" class="menu-item">
          <span class="icon material-symbols-rounded" aria-hidden="true"
            >dashboard</span
          >
          <p class="label-large">Gösterge paneli</p>
          <div class="state-layer"></div>
        </a>
        <a href="/readinglist" class="menu-item">
          <span class="icon material-symbols-rounded" aria-hidden="true"
            >bookmark</span
          >
          <p class="label-large">Kaydedildi</p>
          <div class="state-layer"></div>
        </a>
        <a href="/settings" class="menu-item">
          <span class="icon material-symbols-rounded" aria-hidden="true"
            >settings</span
          >
          <p class="label-large">Ayarlar</p>
          <div class="state-layer"></div>
        </a>

        <div class="divider"></div>

        <form action="/logout" method="post">
          <button type="submit" class="menu-item">
            <span class="icon material-symbols-rounded" aria-hidden="true"
              >logout</span
            >
            <p class="label-large">Çıkış yap</p>
            <div class="state-layer"></div>
          </button>
        </form>
      </div>
    </div>
    <% } else { %>
    <a href="/login" class="btn btn-fill">
      <p class="label-large">Giriş yap</p>
      <div class="state-layer"></div>
    </a>

    <a href="/register" class="btn btn-fill">
      <p class="label-large">Hesap oluştur</p>
      <div class="state-layer"></div>
    </a>
    <% } %>
  </div>

  <!-- İlerleme Çubuğu -->
  <div class="progress-bar" data-progress-bar>
    <div class="progress-active-indicator"></div>
    <div class="progress-track"></div>
  </div>
</header>
