<% const { blogs, blogPublished, totalReactions, totalVisits
}=locals.loggedUser; %>

<!DOCTYPE html>
<html lang="tr">
  <head>
    <%- include('../layouts/head',{ title: 'Gösterge Paneli | Emmi'}) %>,
    <script src="/js/script.js" defer></script>
    <script type="module" src="/js/delete_blog.js"></script>
  </head>
  <body>
    <!--
    #Üst uygulama çubuğu
    -->
    <%- include("../partials/top_app_bar")%>

    <main class="main">
      <!--
    #Dashboard 
    -->
      <article class="page dashboard-page">
        <div class="container">
          <h2 class="headline-small page-title text-on-surface">
            Gösterge Paneli
          </h2>

          <!--
          #Analiz kısmı
          -->

          <section class="analytics-list">
            <div class="analytics-card">
              <div class="analytics-icon-box">
                <span class="material-symbols-rounded" aria-hidden="true"
                  >visibility</span
                >
              </div>
              <div>
                <h3 class="display-medium text-on-surface card-title">
                  <%=totalVisits.toLocaleString('tr-TR')%>
                </h3>
                <p class="title-medium bold text-on-surface">Ziyaret</p>
              </div>
            </div>
            <div class="analytics-card">
              <div class="analytics-icon-box">
                <span class="material-symbols-rounded" aria-hidden="true"
                  >favorite</span
                >
              </div>
              <div>
                <h3 class="display-medium text-on-surface card-title">
                  <%=totalReactions.toLocaleString('tr-TR')%>
                </h3>
                <p class="title-medium bold text-on-surface">Beğenme</p>
              </div>
            </div>
            <div class="analytics-card">
              <div class="analytics-icon-box">
                <span class="material-symbols-rounded" aria-hidden="true"
                  >article</span
                >
              </div>
              <div>
                <h3 class="display-medium text-on-surface card-title">
                  <%=blogPublished.toLocaleString('tr-TR')%>
                </h3>
                <p class="title-medium bold text-on-surface">
                  Gönderi yayınlandı
                </p>
              </div>
            </div>
          </section>

          <!--
          #Yayınlanan Bloglar
          -->
          <section>
            <h2 class="title-large text-on-surface">Gönderi</h2>
            <div class="post-lists">
              <% if (blogs.length) { %> <% blogs.forEach(blog =>{%> <%-
              include('../partials/list_item',{blog }) %> <% }) %> <% } else {
              %>
              <div class="list-item">
                <p class="text-on-surface-variant body-large">
                  Henüz hiçbir şey yazmadın
                </p>
              </div>
              <% } %>
            </div>
          </section>
        </div>
      </article>
    </main>
    <!--
    #Footer
    -->
    <%- include("../layouts/footer")%>
    <div class="snackbar-wrapper" data-snackbar-wrapper></div>
  </body>
</html>
